.contact{
    .contactForm{
        background-image: url("../assets/images/Earth.png");
        background-color:$reviews-bg ;
    }
    .treatment{
        .card{
            background-color: $reviews-bg;
        }
    }
}